<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>492293362643-8humrls1qgnfradbu6fo414kl0ntoig2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.492293362643-8humrls1qgnfradbu6fo414kl0ntoig2</string>
	<key>API_KEY</key>
	<string>AIzaSyAfaNHYLh-DgTB2wBiG1BE7LCpmDI9VAII</string>
	<key>GCM_SENDER_ID</key>
	<string>492293362643</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>paste.watchSushi</string>
	<key>PROJECT_ID</key>
	<string>assignment1-wearable</string>
	<key>STORAGE_BUCKET</key>
	<string>assignment1-wearable.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:492293362643:ios:87d0a3e0652520cd9d9526</string>
	<key>DATABASE_URL</key>
	<string>https://assignment1-wearable.firebaseio.com</string>
</dict>
</plist>